@using GoodsBlazor.Common.Components.CommonModal

<CommonModalComponent IsOpen="@_isModalOpen"
                      ImageUrl="@_previewImageUrl"
                      DeleteImageCallback="@ClearImage"
                      IsOpenChanged="@EventCallback.Factory.Create(this, (bool v) => _isModalOpen = v)" />

<div class="image-uploader">
    @if (!string.IsNullOrEmpty(_previewImageUrl))
    {
        @if (_previewImageUrl.StartsWith("blob:"))
        {
            <p>Blob URL: <a href="@_previewImageUrl" target="_blank">Open Image</a></p>
        }
        <img src="@_previewImageUrl" alt="Product Image" class="image-preview" />
        <button @onclick="ClearImage" class="clear-image-btn">×</button>
    }
    else
    {
        <p>Image not loaded!</p>
    }

    <button class="upload-btn" @onclick="OpenFilePicker">Uploading image</button>
</div>

