@typeparam T

<div class="custom-select" @onclick:stopPropagation="@true">
    <div class="selected-value" @onclick="ToggleDropdown">
        <span>@GetDisplayValue(_selectedItem)</span>
        <span class="dropdown-arrow @( _isOpened ? "opened" : "" )">
            <i class="fa-solid fa-caret-down"></i>
        </span>
    </div>
    @if (_isOpened)
    {
        <div class="dropdown">
            @foreach (var item in Options)
            {
                <div class="dropdown-item" @onclick:stopPropagation="@true" @onclick="() => SelectItemAsync(item)">
                    @GetDisplayValue(item)
                </div>
            }
        </div>
    }
</div>

@if (_isOpened)
{
    <div @onclick="CloseDropdown" class="backdrop"></div>
}